.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.booth1{
  position: absolute;
  width: 161px;
  height: 134px;
  left: 51px;
  top: 120px;
}

.booth2 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 305px;
  top: 120px;
}

.booth3 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 559px;
  top: 120px;

}

.booth4 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 813px;
  top: 120px;
}

.booth5 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 1067px;
  top: 120px;
}

.booth6 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 51px;
  top: 466px;
}

.booth7 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 305px;
  top: 466px;
}

.booth8 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 813px;
  top: 466px;
}

.booth9 {
  position: absolute;
  width: 161px;
  height: 134px;
  left: 1067px;
  top: 463px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
