.App {
  text-align: center;
}


/* booth sizing */
.booth1, .booth2, .booth3, .booth4, .booth5, .booth6, .booth7, .booth8, .booth9{
  background: url(./booth.png);
  border: none;
  position: absolute;
  width: 165px;
  height: 134px;
}

/* booth positioning */
.booth1{
  left: 51px;
  top: 120px;
}
.booth2 {
  left: 305px;
  top: 120px;
}

.booth3 {
  left: 559px;
  top: 120px;

}

.booth4 {
  left: 813px;
  top: 120px;
}

.booth5 {
  left: 1067px;
  top: 120px;
}

.booth6 {
  left: 51px;
  top: 466px;
}

.booth7 {
  left: 305px;
  top: 466px;
}

.booth8 {
  left: 813px;
  top: 466px;
}

.booth9 {
  left: 1067px;
  top: 463px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
